body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.header-container {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.header {
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.logo {
    color: #F9FAF8;
    font-weight: extra-bold;
    font-size: 24px;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px
}

a {
    text-decoration: none;
    color: #e5E7EB;
    font-size: 18px;
}

.intro {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    flex: 1;
}

.text {
    color: #e5E7EB;
    font-size: 18px;
    flex: 1;
}


.title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: extra-bold;
}

.header-image {
    background-color: #909194;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #e5E7EB;
}

.content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    flex: 1;
}

.card-container { 
    display: flex;
    gap: 16px;
}

.card {
    width: 150px;
    display: flex;
    flex-direction: column;
}

.image {
    border: 2px solid blue;
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

.subtext {
    text-align: center;
}

.sign-up {
    background-color: #3882F6;  
    color: #e5E7EB;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 10px;
}

.footer {
    background-color: #1F2937;
    color: #e5E7EB;
    display: flex;
    justify-content: center;
}